<nav>
  <label class="logo"> <span>Angular2024</span> 
</label> 
  <ul>
    
      <li><a href="#" >House</a></li>
      <li><a href="/ContactUs" class="active" >contact us</a></li>
      <li><a href="/AboutUs" >about us</a></li>
      <li><a href="/OurServices">our services</a></li>
      <li><a href="/Payments" >payments</a></li>
      <li><a href="/Login" >login</a></li>

  </ul>
</nav>






<div class="container">
  <div class="row">
     <div  class="div1" >
       <h3><span style="color: #3f51b5;"><b>Music</b></span> <span style="color: #928f8f;"><b>Instruments</b></span></h3>
       <b style="color: #3289ed; ">Music Is Magic</b>
       <br>

       <img mat-card-image
           src=""
           height="190px" width="150px" alt="">
       <span style="font-size: 16px;
           line-height: 14px; 
           font-weight: 700;margin-left: 21px;">
       </span> <br>

       <button>read more</button>
   </div>
   </div>
   </div>


